/* Estilos del NavBar */
.navbar {
    background-color: #000; /* Fondo negro */
    padding: 10px 20px; /* Espaciado */
    display: flex; /* Usamos Flexbox para alinear los elementos */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Asegura que el NavBar ocupe todo el ancho de la pantalla */
    position: fixed; /* Fija el NavBar en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0; /* Asegura que se alinee a la izquierda */
    z-index: 1000; /* Asegura que el NavBar esté por encima de otros elementos */
  }
  
  /* Estilos de los enlaces dentro del NavBar */
  .navbar a {
    color: #fff; /* Color de los enlaces en blanco */
    text-decoration: none; /* Eliminar el subrayado */
    margin: 0 10px; /* Espaciado entre los enlaces */
    font-size: 16px; /* Tamaño de la fuente */
  }
  
  .navbar a:hover {
    color: #ff6347; /* Color de los enlaces al pasar el ratón (tomate) */
  }
  
  /* Ajustar el contenido de la página para que no quede oculto por el NavBar fijo */
  body {
    margin-top: 60px; /* Ajusta este valor según la altura de tu NavBar */
  }
  